<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender for all logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Silence HTTP traffic loggers -->
    <logger name="io.gatling.http" level="INFO" />
    <logger name="io.gatling.http.engine" level="INFO" />
    <logger name="io.gatling.http.response" level="INFO" />
    <logger name="io.gatling.http.ahc" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="org.asynchttpclient" level="INFO" />
    
    <!-- Other potentially verbose loggers -->
    <logger name="io.gatling.http.cache" level="INFO" />
    <logger name="io.gatling.http.cookie" level="INFO" />
    <logger name="io.gatling.http.util" level="INFO" />
    
    <!-- Configure root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
